<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">

<html>
    <head>
        <title>{{title_text}}</title>
    </head>
    <body>
            <h1>{{title_text}}</h1>
            <img src='scatter.png' width="700">
            <h2>{{volatility_text}}</h2>
            {{volatility.to_html()}}
            <h2>{{sum_text}}</h2>
            {{sum.to_html()}}
            <h2>{{q1}}</h2>
            <h2>{{s1}}</h2>
            <h2>{{q2}}</h2>
            <h2>{{s2}}</h2>
    </body>
</html>